{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{%block title%}Elecciones al Consejo{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{% static "jquery.notifyBar.css" %}" />
  <script src="{% static "jquery-1.9.1.js" %}"></script>
  <script src="{% static "jquery-ui.js" %}"></script>
  <script src="{% static "jquery.notifyBar.js" %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

    {%block alt_css%}{% endblock %}
    {%block alt_js%}{% endblock %}
 </head>
<body id="{%block body_id%}body{% endblock %}">
{% for message in messages %}
<script type="text/javascript">
var msg_html = '{{ message|escapejs }}';
    $(function(){
        $.notifyBar({html:msg_html, delay: 60000,cssClass:"{{ message.tags }}"});
    });
</script>
{% endfor %}
{%block puntitos%}{%endblock%}
<div class="papel">
{%block logo%}<img style="float:left" src="{% static "logo.png" %}">{% endblock %}
<h1>{%block title2%}Elecciones al Consejo{% endblock %}</h1>
{%block body%}
{% endblock %}
<div id="">
</div></div>
</body>
</html>
