{% extends "candidaturas.html" %}
{%block body%}
<p>Muchas gracias por presentar tu candidatura al Consejo de Greenpeace España</p>
<p>Los datos que tenemos no permiten completar la validación de la candidatura. 
La comisión electoral realizará todas las comprobaciones. Consulta las 
candidaturas provisionales del 30 de noviembre al 12 de diciembre.</p>
<p>Si necesitas ponerte en contacto con la Comisión Electoral, envía un mensaje a <a href="mailto:eleccion.es@greenpeace.org">eleccion.es@greenpeace.org</a>.</p>

{% endblock %}

