{% extends "candidaturas.html" %}
{%block body%}
<p>Muchas gracias por presentar tu candidatura al Consejo de Greenpeace España</p>
<p>Los datos que tenemos no permiten completar la validación de la candidatura. 
La comisión electoral realizará todas las comprobaciones. Consulta las 
candidaturas provisionales del 6 al 13 de septiembre.</p>
<p>Si necesitas ponerte en contacto con la Comisión Electoral, envía un mensaje a <a href="mailto:elecciones@greenpeace.es">elecciones@greenpeace.es</a>.</p>

{% endblock %}

