{% extends "base_verde.html" %}

{%block body%}
<p>No existe ahora mismo ningún plazo abierto. Los plazos del
	proceso electoral son éstos:</p>
<table>
	<thead>
		<tr>
			<th>Miembros del Consejo elegidos por socias y socios</th>
			<th>inicio</th>
			<th>fin</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Plazo presentación candidaturas</td>
			<td>13-5-2013</td>
			<td>31-8-2013</td>
		</tr>
		<tr>
			<td>Plazo alegaciones</td>
			<td>6-9-2013</td>
			<td>13-9-2013</td>
		</tr>
		<tr>
			<td>Plazo de votación</td>
			<td>18-9-2013</td>
			<td>8-11-2013</td>
		</tr>
		<tr>
			<td>Resultado</td>
			<td>18-11-2013</td>
			<td>21-3-2014</td>
		</tr>
		<tr>
			<th>Miembros del Consejo elegidos por consejeras y consejeros</th>
			<th>inicio</th>
			<th>fin</th>
		</tr>
		<tr>
			<td>Plazo presentación candidaturas</td>
			<td>26-10-2013</td>
			<td>26-11-2013</td>
		</tr>
		<tr>
			<td>Plazo alegaciones</td>
			<td>30-11-2013</td>
			<td>8-12-2013</td>
		</tr>
		<tr>
			<td>Plazo de votación</td>
			<td>10-12-2013</td>
			<td>10-1-2014</td>
		</tr>
		<tr>
			<td>Resultado</td>
			<td>20-1-2014</td>
			<td>21-3-2014</td>
		</tr>
		<tr>
			<th>Asamblea</th>
			<td>29-3-2014</td>
			<td>30-3-2014</td>
		</tr>
</table>
{% endblock %}
