{% extends "base_verde.html" %}

{%block body%}
<p>Los plazos del proceso electoral son éstos:</p>
<table class="plazos">
	<thead>
		<tr>
			<th>Personas del Consejo elegidas por socias y socios</th>
			<th>inicio</th>
			<th>fin</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Presentación de candidaturas</td>
			<td>10-6-2019</td>
			<td>21-7-2019</td>
		</tr>
		<tr>
			<td>Alegaciones</td>
			<td>22-7-2019</td>
			<td>28-7-2019</td>
		</tr>
		<tr>
			<td>Votación</td>
			<td>9-9-2019</td>
			<td>3-11-2019</td>
		</tr>
		<tr>
			<td>Resultado</td>
			<td>10-11-2019</td>
			<td>-</td>
		</tr>
		<tr>
			<th>Personas del Consejo elegidas por consejeras y consejeros</th>
			<th>inicio</th>
			<th>fin</th>
		</tr>
		<tr>
			<td>Presentación de candidaturas</td>
			<td>12-11-2019</td>
			<td>8-12-2019</td>
		</tr>
		<tr>
			<td>Alegaciones</td>
			<td>10-12-2019</td>
			<td>12-12-2019</td>
		</tr>
		<tr>
			<td>Votación</td>
			<td>15-12-2019</td>
			<td>10-1-2020</td>
		</tr>
		<tr>
			<td>Resultado</td>
			<td>11-1-2020</td>
			<td>-</td>
		</tr>
		<tr>
			<th>Asamblea</th>
			<td>28-3-2020</td>
			<td>29-3-2020</td>
		</tr>
</table>
{% endblock %}
