{% extends "candidaturas.html" %}
{%block body%}
<p>Muchas gracias por presentar tu candidatura al Consejo de Greenpeace España</p>
<p>Según los datos de la base de datos, tu candidatura es correcta, a falta de la
comprobación de la Comisión Electoral. Consulta las candidaturas provisionales 
del 22 de julio de 2019 a las 00:00 al 28 de julio de 2019 a las 23:59.</p>
<p>Si necesitas ponerte en contacto con la Comisión Electoral, envía un mensaje a <a href="mailto:eleccion.es@greenpeace.org">eleccion.es@greenpeace.org</a>.</p>
{% endblock %}
