html {
    background-color: white;
        color: #4e9a06;
}
body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
}
div.papel{
  max-width: 700px;
  width: 100%;
  margin: auto auto;
}

body#ver_candidatos div.papel{
  max-width: inherit;
}

body#ver_candidatos td{
  vertical-align: top;
}

body#ver_candidatos td p{
  margin: 0;
}

img#logo{
    max-width:90%;
    max-width:500pt;
}

input,textarea,select{
    border: 1px solid #4e9a067a;
    color: #4e9a06;
    background: white;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
}

input[type="text"]{
}

input[type="submit"]{
    border:none;
    background:#4e9a06;
    color:white;
    padding:6pt;
    font-weight:bold;
}


h1{
    background-color: white;
    border-color: white;
    max-width:100%;
    font-size: 130%;
}

div.th{
    text-align: left;
}
div.tr{
    clear:both;
    padding-top:2pt;
}

.errorlist{
    color: red;
}
textarea{
    width: 95%;
}
textarea#id_descripcion{
    height: 5em;
}
input[type="text"]{
    width: 95%;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
}

table.alegaciones td{
    border: 2px solid;
    padding: 3px;
}

#id_alegacion{
    height: 2.5em;
}

td.foto{
    width: 100pt;
    text-align: center;
}

td.nombre{
    width: 180px;
}

td.nombrelargo{
    width: 280px;
}

div.nombre{
    font-weight: bold;
}

td.cv{
    width: 220px;
}

td.comentarios{
    width: 220px;
}

td.vinculacion{
    width: 220px;
}

.oculto{
    display:none;
}

.undecorated{
    text-decoration: none;
    font-weight: bold;
}

table.plazos {
    text-align: center;
}
table.resultados{
    border: 1px solid;
    font-size: large;

}
table.resultados td{
    padding: 5px;
    border: 1px solid;
    font-size: large;
}

td.electo{
    background-color: white;
    font-weight: bold;
}

div.modulo{
    font-size: 200%;
        padding: 10px;
}
label{
    font-weight:bold;
}
label[for="id_dni_presenta"]{
    font-style: italic;
}
label[for="id_presenta"]{
    font-style: italic;
}

.resaltado, .resaltado:hover {
    font-weight: bold;
    text-decoration: none;
    color:inherit;
    }
